:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 500;
}

body {
  color: #011c0b;
  padding-left: 32px;
  padding-right: 32px;
  background-color: aquamarine;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  place-items: center;
  gap: 30px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  padding: 0;
}
